@inherits LayoutComponentBase

<PageTitle>BlazorTrendApplication.Web</PageTitle>

<div class="page">
    <main>
        <Header></Header>

        <article class="content">
            @Body
        </article>
    </main>
</div>
